<template>
	<div>
		<page-title :title="pairs.title" :subtitle="pairs.desc">
			<button v-if="joinUrl && online && timeSpent==0" class="btn btn-primary mr-1" v-on:click="shareUrl=joinUrl">{{$t('invite')}}</button>
			<button v-if="showRetry" class="btn btn-primary mr-1" v-on:click="retry()">{{$t('try-again')}}</button>
			<button v-if="size>2" class="btn btn-secondary mr-1" v-on:click="size=Math.max(2,size-1)">{{$t('zoom-out')}}</button>
			<button v-if="size<20" class="btn btn-secondary mr-1" v-on:click="size=Math.min(20,size+1)">{{$t('zoom-in')}}</button>
		</page-title>
		<audio id="doink" src="../audio/doink.ogg"></audio>
		<wait-icon v-if="loading"/>
		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :text="$t('invite-info')" :url="shareUrl"/>
		<modal-info v-if="infoMessage" v-on:close="infoMessage=''">{{infoMessage}}</modal-info>
		<center class="mb-3" v-if="online">
			<div v-for="card,idx in cards" class="m-2 flip-card"
				:class="{'flip-card-flipped':card.state!=0, 'flip-card-solved':card.state==2}"
				:style="'display:inline-block;width:'+size+'em;height:'+size+'em;vertical-align:top;'">
				<div class="flip-card-inner shadow" v-on:click="click(card.pair,card.num)">
					<div class="flip-card-front">
						<img src="../img/pairs-card.svg" style="width:100%" >
					</div>
					<div v-if="card.image" class="flip-card-back" >
						<img style="width:100%; height:100%;object-fit:contain;" :src="card.image"></img>
					</div>
					<div v-else class="flip-card-back" :style="'display:table;color:white;background-image: linear-gradient('+Math.round(360*idx/cards.length)+'deg, #00c060, #0060c0)'">
						<span v-if="card.text" v-html="renderText(card.text)" :style="'font-size:'+2.5*size+'px;display:table-cell; vertical-align:middle; text-align:center'"/>
					</div>
				</div>
			</div>
		</center>
		<div class="container">
			<table class="table table-striped">
				<tr><td>{{$t('time')}}</td><td>{{timeSpent}} s</td>
				<td>{{$t('turns')}}</td><td>{{cardTurns}}</td></tr>
				<tr><td>{{$t('score')}}</td><td>{{score}}</td>
				<td>{{$t('num-players')}}</td><td>{{numPlayers}}</td></tr>
			</table>
			<div v-if="pairs.license" class="alert alert-primary">
				<p style="font-weight:bold">{{$t('license')}}</p>
				<p>{{pairs.license}}</p>
			</div>
		</div>

	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import ModalShare from 'Main/components/ModalShare.vue';
import ModalInfo from 'Main/components/ModalInfo.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';
import generator from 'Main/js/password-generator';
import md from 'Main/js/markdown';

export default {
	name: 'home',
	components: { PageTitle,  WaitIcon, ModalShare, ModalInfo},
	data: function() {
		return {
			size:10,
			loading:true,
			cards:[],
			pairs:{},
			openCards:[],
			numSolved:0,
			infoMessage:'',
			shareUrl:'',
			joinUrl:'',
			instance:'',
			warnings:'',
			online:'',
			wsUrl:'',
			cardTurns:0,
			timer:false,	//timer for webservice
			timeSpentTimer:false,	//timer for time spent
			timeSpent:0,
			showRetry:false,
			clientId:generator.generate({length:10}),
			score:0,
			numPlayers:0
		}
	},
	mounted: function() {
		var ticket=this.$route.params.ticket;
		var instance=this.$route.params.instance;
		//new game?
		if (!instance) {
			instance=generator.generate({length:5});
			this.joinUrl=window.location.toString()+'/'+instance;
		}
		//load cards
		this.$axios.get('pairs/sets/'+ticket).then(response=> {
			this.pairs=response.data;
			this.instance=instance;
			this.loading=false;
			//parse card-pairs and generate duplicates where required
			var cards=[];
			var index=0;
			for (var i=0; i<this.pairs.cards.length; i++) {
				var twoCards=this.pairs.cards[i];
				cards.push({image:twoCards.image1,text:twoCards.text1, pair:i, num:1});
				if (twoCards.image2 || twoCards.text2) cards.push({image:twoCards.image2,text:twoCards.text2, pair:i, num:2});
				else cards.push({image:twoCards.image1,text:twoCards.text1, pair:i, num:2});
			}
			this.cards=cards;
			this.mixCards();
			//start webservice
			this.$axios.get('pairs/socket/'+this.instance).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.warnings='';
				//start websocket connection
				this.wsUrl=response.data.url;
				this.startWS();
				this.timer=setInterval(this.checkWS, 5000);
			})
		})
	},
	methods: {
		//card clicked
		click: function(pair, num) {
			if (this.numPlayers>1) this.ws.send(JSON.stringify({type:'open',pair:pair,num:num,clientId:this.clientId}));
			this.open(pair,num,this.clientId);
		},
		//retry game
		retry: function() {
			if (this.numPlayers>1) this.ws.send(JSON.stringify({type:'retry',clientId:this.clientId}));
			this.restart();
		},
		//open specific card - either from local click or from received ws message
		open: function(pair,num,clientId) {
			this.cardTurns=this.cardTurns+1;
			//get card
			var card;
			for (var i of this.cards) {
				if (i.pair==pair && i.num==num) card=i;
			}
			//start time if first click
			if (!this.timeSpentTimer) {
				this.timeSpentTimer=window.setInterval(this.incTime, 1000);
			}
			//exit if card already solved
			if (card.state==2) return;
			//alread two open - close them first
			if (this.openCards.length==2) {
				var done=this.openCards.indexOf(card);
				this.openCards[0].state=0;
				this.openCards[1].state=0;
				this.openCards=[];
				if (done!=-1) return;
			}
			//exit if click on already opened card
			if (card.state==1) return;
			//open clicked card
			card.state=1;
			this.openCards.push(card);
			//correct pair found?
			if (this.openCards.length==2 && this.openCards[0].pair==this.openCards[1].pair) {
				this.openCards[0].state=2;
				this.openCards[1].state=2;
				this.numSolved=this.numSolved+1;
				if (this.clientId==clientId) this.score=this.score+1;
				this.openCards=[];
				//finished?
				if (this.numSolved>=this.cards.length/2) {
					clearInterval(this.timeSpentTimer);
					this.infoMessage=this.$t('done');
					this.showRetry=true;
				}
			}
			this.$forceUpdate();
		},
		//Start websocket client
		startWS: function(){
			console.log('Opening websocket: '+this.wsUrl)
			this.ws=new WebSocket(this.wsUrl);
			this.ws.onopen=(event)=> {
				this.online=true;
			};
			this.ws.onmessage=(event)=> {
				var message=JSON.parse(event.data);
				//show specific card
				if (message.type=="open" && message.clientId!=this.clientId) {
					this.open(message.pair,message.num,message.clientId);
				}
				//retry game
				if (message.type=="retry" && message.clientId!=this.clientId) {
					this.restart();
				}
				//new client
				if (message.type=="numPlayers") {
					if (message.num> this.numPlayers && message.num>1) document.getElementById("doink").play();
					this.numPlayers=message.num;
				}
			};
			this.ws.onclose=() => {
				this.online=false;
			};
		},
		//Restart
		restart: function() {
			this.cardTurns=0;
			this.score=0;
			this.openCards=[];
			this.timeSpent=0;
			this.timeSpentTimer=false;
			this.showRetry=false;
			this.numSolved=0;
			this.mixCards();
		},
		//Inc time
		incTime: function() {
			this.timeSpent=this.timeSpent+1;
		},
		//Check websocket
		checkWS: function() {
		    if (!this.ws || this.ws.readyState==3) {
				this.online=false;
				this.startWS();
			}
		},
		//mix cards
		mixCards: function() {
			for (var card of this.cards) card.state=0;
			var count=this.cards.length;
			for (var i=0; i<count*10; i++) {
				var pos0=Math.floor(Math.random()*count);
				var pos1=Math.floor(Math.random()*count);
				var tmp=this.cards[pos0];
				this.cards[pos0]=this.cards[pos1];
				this.cards[pos1]=tmp;
			}
		},
		//render Text
		renderText: function(text) {
			return md.render(text);
		}
	}
}
</script>

<style src='../../../node_modules/katex/dist/katex.min.css'/>

<style scoped>
.flip-card {  background-color: transparent;  perspective: 1000px; cursor: pointer;}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  font-size:200%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-flipped .flip-card-inner {	transform: rotateY(180deg); }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
	background-color: #E9ECEF;
  	transform: rotateY(180deg);
}

/* Solved - green border */
.flip-card-solved {opacity:0.5;   transition: transform 0.8s;}

</style>

<i18n>
{
	"de": {
		"invite":"Mitspieler einladen",
		"invite-info":"Geben Sie diesen Link an weitere Mitspieler weiter. Bezüglich der Spiel-Regeln müssen Sie sich selbst absprechen - diese werden nicht vom Server überwacht.",
		"score":"Ihr Punktestand",
		"num-players":"Anzahl an Spielern",
		"zoom-in":"Vergrößern",
		"zoom-out":"Verkleinern",
		"done":"Sie haben das Pairs-Spiel erfolgreich gelöst!",
		"try-again":"Spiel wiederholen",
		"time":"Benötigte Zeit",
		"turns":"Anzahl Versuche",
		"license":"Hinweis zur Lizenz"
	},
	"en": {
		"invite": "Invite fellow players",
		"invite-info": "Pass this link on to other players. You have to agree on the rules of the game yourself - these are not monitored by the server.",
		"score": "Your score",
		"num-players": "Number of players",
		"zoom-in":"Zoom in",
		"zoom-out":"Zoom out",
		"done": "You have successfully solved the pairs game!",
		"try-again": "Try again",
		"time": "Required time",
		"turns": "Number of turns",
		"license": "License note"
	}
}
</i18n>
