<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('subtitle')" :button="$t('manual')" buttonhref='#/text-pairs-help'/>

		<div class="container mt-3">
			<index-list
			:items="allSets" :fields="['title','desc','subject']"
			:actions="['start','edit','share','duplicate','delete','export','import','new']"
			role="pairs"
			resturl="pairs/sets-author" restkey="pairs"
			v-on:start="start" v-on:edit="edit" v-on:share="share" v-on:export="exportJson" v-on:reload="loadMeta"
			v-on:new="$router.push({name:'pairs-edit'})" />
		</div>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :url="shareUrl"/>
  	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import ModalShare from 'Main/components/ModalShare.vue';
import IndexList from 'Main/components/IndexList.vue';
import store from 'Main/js/store.js';
import download from 'Main/js/download.js';
import generator from 'Main/js/password-generator';

export default {
	name: 'home',
	components: { PageTitle, ModalShare, IndexList},
	data: function() {
		return {
			allSets:[],
			shareUrl:'',
			loading:true,
			hasRole:false,
		}
	},
	mounted: function() {
		this.hasRole=store.user.hasRole('pairs');
		this.loadMeta();
	},
	methods: {
		edit: function(set) {
			this.$router.push({name:'pairs-edit', params:{id:set._id}});
		},
		share: function(set) {
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/pairs-game/'+set.ticket;
		},
		start: function(set) {
			this.$router.push({name:'pairs-game',params:{ticket:set.ticket}})
		},
		del: function(set) { this.set
			this.$router.push({name:'pairs-game',params:{ticket:set.ticket}})
		},
		duplicate: async function(set) {
			var pairs=await this.getSet(set);
			this.setToDuplicate=Object.assign({}, pairs);
		},
		exportJson: async function(set) {
			var pairs=await this.getSet(set);
			download.downloadJson(pairs);
		},
		getSet: async function(set) {
			var response=await this.$axios.get('pairs/sets/'+set.ticket);
			var pairs=Object.assign({}, response.data);
			//remove unecessary information
			delete pairs._id;
			delete pairs.__v;
			delete pairs.owner;
			for (var part of pairs.cards) {
				delete pairs.cards._id;
			}
			return pairs;
		},
		loadMeta: function() {
			this.loading=true;
			this.$axios.get('pairs/sets-meta').then(response=> {
				this.allSets=response.data;
				this.loading=false;
			})
		},
	}
}
</script>

<i18n>
{
	"de": {
		"title": "Online Pairs",
		"subtitle": "Das Online Pairs können Sie alleine oder auch gemeinsam mit anderen Teilnehmern spielen. Sobald das Spiel (von einem beliebige Teilnehmer) gestartet wird, erhält er einen Link um weitere einzuladen.",
		"manual": "Anleitung",
		"game":"Spiel",
		"quiz": "Quiz",
		"hint-title": "Titel der Fragensammlung"
	},
	"en": {
		"title": "Online Pairs",
		"subtitle": "You can play the online pairs alone or together with other participants. As soon as the game is started (by any participant), he receives a link to invite others.",
		"manual": "Instructions",
		"game": "Game",
		"quiz": "Quiz",
		"no-quiz": "There is currently no pairs game.",
		"hint-title": "Title of the question collection"
	}
}
</i18n>
